@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.raleway{
    font-family: 'raleway', cursive;
}

.lato{
    font-family: 'lato', cursive;
}

.fs-1{
    font-size:1rem;
}

.fs-1_5{
    font-size: 1.5rem;
}

.fs-2{
    font-size: 2rem;
}

.fs-3{
    font-size: 3rem;
}

.pt-18{
    padding-top: 18rem;
}

